@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/servicios.css" asp-append-version="true" />
    Layout = "_Layout";

}
<div class="parent">
    <br>
    <br>
    <br>
    <h2> NUESTROS SERVICIOS</h2>
</div>
<br>
<br>

<img src="img/pngtree-purebred-companion-png-image_3234108-removebg-preview (1).png" class="rounded mx-auto d-block" width="420" height="527">
<div class="conteiner">
    <h4>Consultas</h4>
</div>
<br>
<div class="texs">
    <p>
        El diagnóstico por imagen veterinario consiste en <br>
        la obtención de imágenes de forma no invasiva<br>
        del cuerpo de nuestros animales de compañía<br>
        gracias a las nuevas tecnologías.Nuestro servicio<br>
        de diagnóstico por imagen veterinaria es uno de<br>
        los mas completos.
    </p>

</div>
<div class="conteiner1">
    <h4>Cirugias</h4>
</div>
<br>
<div class="texs">
    <p>
        En la Veterinaria contamos con quirófano equipado con <br>
        anestesia inhalada y monitores trans quirúrgicos en<br>
        donde al anestesista se le permite visualizar<br>
        permanentemente las constantes de las mascotas como <br>
        son el electrocardiograma, frecuencia respiratoria,<br>
        cantidad de oxigeno y bióxido de carbono circulante <br>
        en el organismo de nuestra mascota.
    </p>
</div>

<div class="conteiner2">
    <h4>Estética</h4>
</div>
<br>
<div class="tex1">
    <p>
        La Clínica Veterinaria cuenta con métodos
        diagnósticos de alta calidad como son radiología de
        alta frecuencia que es un equipo de rayos X gentil
        con el medio ambiente y con mucho menor riesgo
        para el personal que labora en el área, cumpliendo
        con las normas oficiales mexicanas al respecto.
    </p>
</div>

<div class="conteiner3">
    <h4>Imagenología</h4>
</div>
<br>
<div class="tex1">
    <p>
        La Clínica Veterinaria del Bosque cuenta con
        expertos estilistas en el arreglo de todas las razas de
        perros y gatos, las mascotas son bañadas con agua caliente y
        los shampoo y jabones de la más alta calidad.
    </p>

</div>