* {
    background-color: #E9EAE9;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

#img1 {
    width: 443.95px;
    height: 304px;
}

.hero-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    overflow: hidden;
}

#titulo {
    font-size: 64px;
    color: #05AAE7;
}

#sub {
    font-size: 24px;
    color: #CF982D;
}

.hero-text {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 50px;
    color: #fff;
}

.hero-image {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

    .hero-image img {
        width: 100%;
        height: auto;
        display: block;
    }

@media (max-width: 768px) {
    .hero-text,
    .hero-image {
        width: 100%;
        float: none;
    }
}

.contenedor-descuentos {
    display: flex;
    align-items: center;
    background-color: #262D58;
    height: 133px;
}

#cono {
    text-decoration: none;
    color: #ffffff;
    margin: 10px 10px;
    background-color: #262D58;
    padding: 20px;
}

#cono2 {
    vertical-align: middle;
    margin-right: 5px;
    background-color: #262D58;
}

#cono3 {
    margin: 10px 10px;
    color: #ffffff;
    background-color: #262D58;
    padding: 20px;
}

@media (max-width: 768px) {
    .contenedor,
    .contenedor-descuentos {
        flex-direction: column;
        align-items: center;
        height: 650px;
    }
}

.objeto {
    margin: 10px 0;
}

}

.container {
    width: 100%;
    max-width: 605px;
    height: 700px;
    margin: 20px auto;
    background-color: #16365B;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width:768px) {
    .container {
        min-height: 900px;
    }
}

.column {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    background-color: #16365B;
}

@media (max-width:768px) {
    .column {
        width: 100%;
    }
}


.form-group {
    margin-bottom: 15px;
    background-color: #16365B;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #16365B;
    color: #fff;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
}

button {
    background-color: #1F46BC;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width:768px) {
    .button {
        margin-left: 120px;
    }
}


button:hover {
    background-color: #1F46BC;
}

#ola {
    background-color: #16365B;
}
