@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<!--Hero-->

<div class="hero-section">

    <a asp-area="" asp-controller="Citas" asp-action="Index"><button type="button" class="btn btn-lg ubi">Agendar cita</button></a>

 
        
  
</div>


<!--Cards dobles-->

<div class="card color">

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Mascota feliz, vida feliz</h1>
                <p class="lead">Bienvenido a nuestra clínica veterinaria, donde cada mascota es tratada como un miembro de la familia. Nuestro equipo de profesionales capacitados se dedica a proporcionar la mejor atención médica, con un enfoque en la compasión y el respeto. ¡Porque en nuestra clínica, su mascota es nuestra prioridad!</p>

            </div>
            <div class="col-10 col-sm-8 col-lg-6 resp">
                <img src="~/img/Gato.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>


    <div class="container col-xxl-8 px-4 py-5 resp">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/img/Perroygato.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Mascota feliz, vida feliz</h1>
                <p class="lead">Bienvenido a nuestra clínica veterinaria, donde cada mascota es tratada como un miembro de la familia. Nuestro equipo de profesionales capacitados se dedica a proporcionar la mejor atención médica, con un enfoque en la compasión y el respeto. ¡Porque en nuestra clínica, su mascota es nuestra prioridad!</p>

            </div>
        </div>
    </div>


</div>

<!--servicios cards-->

<div class="Cardg">

    <h1>Algunos de nuestros Servicios</h1>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 t">
                <img src="~/img/Sonrisa.png" class="card-img-top" height="345" width="237" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servicio de salud dental </h5>
                    <p class="card-text">Limpieza y tratamiento dental.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 t">
                <img src="~/img/Inyeccion.png" class="card-img-top" height="345" width="237" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servicio de salud vacunas</h5>
                    <p class="card-text">Paquetes de edades</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 t">
                <img src="~/img/Product.png" class="card-img-top" height="345" width="237" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servicio de salud alimenticia </h5>
                    <p class="card-text">Tipo de mascota</p>
                </div>
            </div>
        </div>
    </div>



</div>

<!--Tabla-->

<div class="Lista">
    <div class="mt-4 p-5 bg text-white rounded">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col" class="cl1">Tratos</th>
                    <th scope="col" class="cl2">Ventajas</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cent">-Lavado dental para mascotas.</td>
                    <td class="cent">-La dentadura de su mascota quedara limpia.</td>
                </tr>
                <tr>
                    <td class="cent">-Vacunacion para mascotas.</td>
                    <td class="cent">-Certificaremos cada una de sus vacunas aplicadas para llenar su historial.</td>

                </tr>
                <tr>
                    <td class="cent">-Dieta profesional para mascotas.</td>
                    <td class="cent">-Tiene diferentes opciones a escoger para la dieta de su mascota. </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Conoce-->

<div class="container color">
    <div class="foond">




        <div class="container-fluid tituloss"><h3>Conoce la veterinaria</h3></div>

        <div class="container imagen"><img src="~/img/img-sobre.png" class="d-block mx-lg-auto img-fluid" width="414" height="200" alt="..."></div>

        <h4>No tengas los mismos problemas de siempre, nosotros estaremos disponibles para ti.</h4>

        <h5>Tenemos disponibilidad de recepcion a clientes y podemos atenderte la mayor parte de dia, asegurate de visitar dentro de los horarios correspondientes para tener una mejor visita a cada una de nuestras sucursales.</h5>


    </div>

</div>

<!--Galeria-->

<div class="container h">
    <h3>¡No te preocupes más!</h3>
    <div class="row mb-3">
        <div class="col-6 galeria g">
        </div>
        <div class="col-6 galeria g2">
        </div>
        <div class="col-6 galeria g3">
        </div>
        <div class="col-6 galeria g4">
        </div>
    </div>







</div>

<!--Ubicación-->
<div class="container h">
    <div class="row mb-3">
        <div class="col-6 galeria2 v">

            <div class="container"><h3>Sucursal VeteriSalud</h3></div>

            <div>
                <p>
                    Ofrecemos una amplia gama de servicios veterinarios, que incluyen consultas generales,
                    vacunaciones,etc.También contamos con una farmacia para adquirir medicamentos y alimentos recetados.
                </p>
            </div>

        </div>
        <div class="col-6 galeria2 n">
            <div class="container"><h3>Sucursal VeteriSalud</h3></div>

            <div>
                <p>
                    Ofrecemos una amplia gama de servicios veterinarios, que incluyen consultas generales,
                    vacunaciones,etc.También contamos con una farmacia para adquirir medicamentos y alimentos recetados.
                </p>
            </div>
        </div>
        <div class="col-6 galeria g5">
        </div>
        <div class="col-6 galeria g6">
        </div>
    </div>







</div>