@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/venta.css" asp-append-version="true" />
}

<!--aqui va el header-->
<!--Inicio del contenedor del slider-->
<div class="conteswp">

    <div class="tituloS">
        Recomendado para ti
    </div>

    <!--Slider-->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/3.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Simparica trio</h2>
                            <h2 class="precio">Desde $305.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>


                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/2.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Helmipet 135 y 400</h2>
                            <h2 class="precio">Desde $99.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/1.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Bravecto para perros</h2>
                            <h2 class="precio">Desde $766.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/4.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Feline Fullspot</h2>
                            <h2 class="precio">Desde $340.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/5.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Nexgard Spectra</h2>
                            <h2 class="precio">Desde $339.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/6.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Amoxicilina Y Ácido Clavulánico Spectrum</h2>
                            <h2 class="precio">Desde $204.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/7.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Desparasitante Para Perro Milpro</h2>
                            <h2 class="precio">Desde $265.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/8.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Profender cat</h2>
                            <h2 class="precio">Desde $243.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">

                    <div class="card_enka">
                        <img src="~/img/9.jpg" alt="">
                    </div>
                    <div class="conts">
                        <h1 class="nomp">
                            Pronefra</h2>
                            <h2 class="precio">Desde $205.00</h2>
                            <button class="botonComp">
                                ¡Comprar!
                            </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>


       


    </div>
    <!--Fin del slider-->
</div>



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="comp2.js">