@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/sobre.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/fdc648813d.js" crossorigin="anonymous"></script>
}
<!--Hero Principal-->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://images.pexels.com/photos/6235017/pexels-photo-6235017.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Un cuidado especializado para tus amigos peludos</h1>
            <p class="lead">En Animalitos, creemos que cada mascota es única y especial, y tratamos a cada uno de nuestros pacientes con el amor y la atención que se merecen. Nuestro equipo de veterinarios altamente calificados, técnicos y personal de apoyo comparten una pasión por los animales y se esfuerzan por brindar el mejor cuidado posible en un entorno amigable y acogedor.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Conócenos</button>
            </div>
        </div>
    </div>
</div>



<!--Segundo Contenedor Servicios-->

<div class="container px-4 py-5">

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis" style="font-size: 40px;">En manos de los mejores especialistas calificados en cuidado de mascotas</h2>
            <p class="text-body-secondary">Contamos con un equipo experimentado de veterinarios, técnicos y personal de apoyo que comparten la misma pasión por los animales. Nos mantenemos actualizados con las últimas tendencias y avances en medicina veterinaria para garantizar que tu mascota reciba la mejor atención posible.</p>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <svg class="bi" classxmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 576 512"><path d="M309.6 158.5L332.7 19.8C334.6 8.4 344.5 0 356.1 0c7.5 0 14.5 3.5 19 9.5L392 32h52.1c12.7 0 24.9 5.1 33.9 14.1L496 64h56c13.3 0 24 10.7 24 24v24c0 44.2-35.8 80-80 80H464 448 426.7l-5.1 30.5-112-64zM416 256.1L416 480c0 17.7-14.3 32-32 32H352c-17.7 0-32-14.3-32-32V364.8c-24 12.3-51.2 19.2-80 19.2s-56-6.9-80-19.2V480c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V249.8c-28.8-10.9-51.4-35.3-59.2-66.5L1 167.8c-4.3-17.1 6.1-34.5 23.3-38.8s34.5 6.1 38.8 23.3l3.9 15.5C70.5 182 83.3 192 98 192h30 16H303.8L416 256.1zM464 80a16 16 0 1 0 -32 0 16 16 0 1 0 32 0z" /></svg>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Consultas</h4>
                    <p class="text-body-secondary">Desde 2022, Animalitos atendió más de 600 mascotas. </p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-96 55.2C54 332.9 0 401.3 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-81-54-149.4-128-171.1V362c27.6 7.1 48 32.2 48 62v40c0 8.8-7.2 16-16 16H336c-8.8 0-16-7.2-16-16s7.2-16 16-16V424c0-17.7-14.3-32-32-32s-32 14.3-32 32v24c8.8 0 16 7.2 16 16s-7.2 16-16 16H256c-8.8 0-16-7.2-16-16V424c0-29.8 20.4-54.9 48-62V304.9c-6-.6-12.1-.9-18.3-.9H178.3c-6.2 0-12.3 .3-18.3 .9v65.4c23.1 6.9 40 28.3 40 53.7c0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.4 16.9-46.8 40-53.7V311.2zM144 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48z" /></svg>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Servicios</h4>
                    <p class="text-body-secondary">Alrededor de 100 personas prefieren traernos  sus mascotas por nuestro servicio. </p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 384 512">path d="M48 0C21.5 0 0 21.5 0 48V464c0 26.5 21.5 48 48 48h96V432c0-26.5 21.5-48 48-48s48 21.5 48 48v80h96c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H48zM64 240c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V240zm112-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V240c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V240zM80 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V112zM272 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16z" /></svg>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Sucursales</h4>
                    <p class="text-body-secondary">Contamos con 10 sucursales alrededor de la República Mexicana.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 320 512"><path d="M112 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm40 304V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V256.9L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6h29.7c33.7 0 64.9 17.7 82.3 46.6l58.3 97c9.1 15.1 4.2 34.8-10.9 43.9s-34.8 4.2-43.9-10.9L232 256.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V352H152z" /></svg>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Comunidad</h4>
                    <p class="text-body-secondary">Colaboramos con organizaciones locales para promover la adopción responsable.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Inicio de Cards-->
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Nuestras Motivaciones</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.pexels.com/photos/6235666/pexels-photo-6235666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-align: center;">Bienestar Animal</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.pexels.com/photos/5998824/pexels-photo-5998824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-align: center;">Familias Felices</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-3 " style=" opacity: 0.9; background-image: url('https://images.pexels.com/photos/15672684/pexels-photo-15672684/free-photo-of-decir-queso.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-align: center;">Felicidad de tu mascota</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                </div>
            </div>
        </div>
    </div>
</div>






